.card {
    border-radius: 10px;
  }
  
  .card-header {
    border-bottom: none;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control-static {
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }